.footer {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  border-color: #dedede;

  color: #3e3e3e;

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
