.main-layout {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.main-layout-aside {
  grid-column: span 1 / span 1;
}

.main-layout-main {
  grid-column: span 11 / span 11;
}

.main-screen {
  height: 100%;
  min-height: 100vh;
}

/*responsive code */
@media screen and (max-width: 1024px) {
  .main-layout {
    display: flex;
    flex-direction: column;
  }
}
