.main-layout {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  
}

.col-span-1 {
  grid-column: span 1 / span 1;
}

.col-span-11 {
  grid-column: span 11 / span 11;
}

.main-screen{
    height: 100vh;
    min-height: 100vh;

}

